<html>
    <head>
        <title></title>
        <script type="text/javascript">
            function fn() {
                mode = document.frm.mode.value;
                onoff = document.frm.onoff.value;
                location.href = "http://192.168.1.169:8886/"+mode+"/"+onoff;
            }
        </script>
    </head>
        <body>
            <form name="frm">
                mode : <select name = "mode">
                           <option value = "LED" selected >LED</option>
                           <option value = "MOTOR">MOTOR</option>
                       </select>  &nbsp;&nbsp;
on/off : <select name = "onoff">
                            <option value = "ON" selected>ON</option>
                            <option value = "OFF">OFF</option>
                        </select>  &nbsp;&nbsp;
<input type = "button" value="click" onclick="fn()">
            </form>
        </body>
</html>
